{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New match{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="venue">Match venue</label>
    <input name="venue" id="venue" value="{{ request.form['venue'] }}">
    <hr>
    <label for="team_a">Home team</label>
    <input name="team_a" id="team_a" value="{{ request.form['team_a'] }}">
    <!-- <hr> -->
    <label for="team_a_runs">Runs scored by home team</label>
    <input name="team_a_runs" id="team_a_runs" value="{{ request.form['team_a_runs'] }}">
    <hr>
    <label for="team_b">Away team</label>
    <input name="team_b" id="team_b" value="{{ request.form['team_b'] }}">
    <!-- <hr> -->
    <label for="team_b_runs">Runs scored by away team</label>
    <input name="team_b_runs" id="team_b_runs" value="{{ request.form['team_b_runs'] }}">

    <input type="submit" value="Save">
  </form>
{% endblock %}
